# Ignore the node_modules directory
node_modules/
**.DS_Store
# Ignore Logs
/target/karate-reports.*
/target/karate-reports
/target/karate.log

# Ignore the build directory
ngrok

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*